<div class="container text-center">
	<h1>ABOUT PAGE!</h1>
	<p>My name is Jordan and I am learning stuff.</p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, tenetur, est porro ea dolores corrupti provident commodi nobis deserunt inventore eligendi ut expedita aliquam nihil reprehenderit neque quam totam qui.
</div>