<div class="home-page text-center container-fluid">
	<h1>Welcome to the SaaS prototype site!</h1>
	<h3>A site where possibilities are unlimited.</h3>
</div>

<div class="container home-signup-links">
	<div class="row">

		<div class="col-md-6">
			<div class="well">
				<h2 class="text-center">Basic Membership</h2>
				<h4 class="text-center">Sign up for free account</h4>
				<ul class="center">
					<li>Get simple access</li>
				</ul>
				<%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
			</div>
		</div>

		<div class="col-md-6">
			<div class="well">
				<h2 class="text-center">Pro Membership</h2>
				<h4 class="text-center">Sign up for the pro account for $0.01/month</h4>
				<ul class="center">
					<li>Get access to information</li>
				</ul>
				<%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
			</div>
		</div>
	</div>
</div>