<!DOCTYPE html>
<html>
    <head>
        <body>
            <p>You have received a message from the site's contact form sent by
            <%= "#{@name}, #{@email}." %></p>
            <p><%= @body %></p>
        </body>
    </head>
</html>