/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif; 
}

/* the dot is in front of "navbar" since it is a class */
.navbar, .home-page {
    background: #517fa4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243949, #517fa4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243949, #517fa4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-page {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 75px;
}

.navbar {
    border: none;
}

/* follow bootstrap heirarchy to apply css */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover { // only applicable with sass
    color: black;
    opacity: 0.5;
  }
}