.avatar-show-img {
	width: 150px;
	height: 150px;
}

.well.profile-block {
	h3 {
		margin-top: 0;
	}
}

.well.profile-descrip, .well.profile-contact {
	background-color: #5cb85c;
	border-color: #4cae4c;
	h3 {
		text-decoration: underline black;
		text-align: center;
	}
}

.pet-type-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: blue;
	color: white;
	text-align: center;
}